# API Config
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=

# MQTT Broker Users
IOT_API_USERNAME=
IOT_API_PASSWORD=
DEVICE_1_USERNAME=
DEVICE_1_PASSWORD=
DEVICE_2_USERNAME=
DEVICE_2_PASSWORD=
DEVICE_3_USERNAME=
DEVICE_3_PASSWORD=
DEVICE_4_USERNAME=
DEVICE_4_PASSWORD=
DEVICE_5_USERNAME=
DEVICE_5_PASSWORD=
